<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="phoneService" class="ru.andronov.services.PhoneServiceImpl"/>
    <bean id="phoneMarket" class="ru.andronov.services.PhoneMarketImpl">
        <constructor-arg ref="phoneService"/>
    </bean>

</beans>